spring:
  datasource:
    url: jdbc:mysql://localhost:3306/treeree_shop?useSSL=false&serverTimezone=UTC
    username: root
    password: Merinos104
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate.format_sql: true

server:
  port: 8080